---
import { SITE_AUTHOR, ICP_NUMBER, ICP_URL } from '../consts';
const today = new Date();
---

<footer>
	<div>&copy; {today.getFullYear()} {SITE_AUTHOR}. All rights reserved.</div>
	<div class="icp-info">
		<a href={ICP_URL} target="_blank" rel="noopener noreferrer">{ICP_NUMBER}</a>
	</div>
</footer>
<style>
	footer {
		padding: 1.5em 1em 2em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
		font-size: 0.875rem;
	}
	.icp-info {
		margin-top: 0.5em;
	}
	.icp-info a {
		color: rgb(var(--gray));
		text-decoration: none;
	}
	.icp-info a:hover {
		text-decoration: underline;
	}
</style>
